.wrapper {
  --_specialBox-border: var(
    --specialBox-border,
    url("/assets/border-images/border-special-box-white.svg")
  );
  --_specialBox-clr: var(--specialBox-clr, var(--clr-white));
  --_specialBox-clr-bg: var(--specialBox-clr-bg, var(--clr-dark));

  border-image: var(--_specialBox-border);
  border-image-slice: 20;
  border-image-width: 20px;
  border-image-repeat: round;
  border-style: solid;
  border-image-outset: 10px;

  color: var(--_specialBox-clr);
  padding: 0.5rem 1.3rem;

  margin: 3rem 2rem;

  position: relative;

  .title {
    font-family: var(--font-special);
    font-size: var(--font-size-1);
    font-weight: normal;

    position: absolute;
    top: -30px;

    padding-inline: 0.5rem;
    background: var(--_specialBox-clr-bg);

    margin: 0;
  }
}
