@font-face {
  font-family: "Averia Serif";
  src: url("/assets/fonts/AveriaSerif-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Averia Serif";
  src: url("/assets/fonts/AveriaSerif-Bold.ttf");
  font-weight: Bold;
  font-style: normal;
}
@font-face {
  font-family: "Averia Serif";
  src: url("/assets/fonts/AveriaSerif-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Averia Serif";
  src: url("/assets/fonts/AveriaSerif-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Kingthings Italique";
  src: url("/assets/fonts/Kingthings-Italique.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: var(--font-text);
}
