@import "./font.scss";
@import "./link.scss";
@import "./button.scss";
@import "./content.scss";

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  min-height: 100dvh;
}

body {
  color: var(--clr-white);
}
