.box-btn-rect {
  --_box-src: var(--box-src, url('$lib/assets/border-images/btn-black-box.svg'));
	border-image: var(--_box-src);
  border-image-slice: 10;
  border-image-width: 6px;
  border-image-outset: 5px;
  border-image-repeat: round; 
}
