.interactable {
  --_interactable-clr: var(--interactable-clr, var(--clr-white));
  --_interactable-border: var(
    --interactable-border,
    url("/assets/border-images/bottom-border-white.svg")
  );

  position: relative;

  color: var(--_interactable-clr);
  font-family: inherit;

  transition: transform 0.2s ease-in-out;
  transform-origin: bottom;

  &:hover {
    transform: scale(1.05);
  }

  &:active,
  &.current {
    transform: skewX(-8deg);
  }

  &:focus-visible {
    outline: none;
    &:after {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      content: "";
      top: 0;
      left: 0;

      border-bottom: 1px solid var(--_interactable-clr);
      border-image: var(--_interactable-border);
      border-image-slice: 10;
      border-image-width: 0 0 10px 0;
      border-image-outset: 0 0 5px 0;
      border-image-repeat: repeat;
    }
  }

  &.light {
    --interatable-clr: var(--clr-black);
    --interatable-border: url("/assets/border-images/bottom-border-black.svg");
  }
}
