.rough-box {
  --_rough-box-border-image: var(
    --rough-box-border-image,
    url("/assets/border-images/rough-box-black.svg")
  );
  border-image: var(--_rough-box-border-image);
  border-image-slice: 20;
  border-image-width: 20px;
  border-image-repeat: round;
  border-image-outset: 10px;
}
