.formField {
  --_input-clr: var(--input-clr, var(--clr-white));
  color: var(--_input-clr);
  display: flex;
  flex-direction: column;
  position: relative;

  &:focus-within {
    &:before {
      opacity: 0;
    }
    .label::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      content: "";
      top: 0;
      left: 0;
      border-image: url("/assets/border-images/bottom-border-white.svg");
      border-image-slice: 10;
      border-image-width: 0 0 10px 0;
      border-image-outset: 0 0 5px 0;
      border-image-repeat: repeat;
    }
  }

  &:hover .label {
    transform: scale(1.1);
  }

  &:before {
    transition: opacity 0.2s ease-in-out;
    opacity: 1;
    content: "";
    width: 24px;
    height: 24px;
    background: url("/assets/images/quill-test.png");
    background-size: 24px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
  }
}

.input {
  color: inherit;
  border-bottom: 2px solid var(--_input-clr);
  outline: none;
  font-family: var(--font-text);
  font-size: 1.1em;

  background: none;

  border-image: url("/assets/border-images/border-input-white.svg");
  border-image-slice: 10 5 10 5;
  border-image-width: 0 10px 10px 10px;
  border-image-outset: 0 0 3px 0;
  border-image-repeat: round;
  padding-left: 7px;
  position: relative;
}

.label {
  position: relative;
  align-self: flex-end;

  transition: transform 0.2s ease-in-out;
}
