@import "@/styles/mixins/breakpoints.scss";

.menu {
  z-index: var(--z-index-menu);

  --_openMenuHover-height: var(--openMenuBtn-height, 6rem);
  --_open-animation-duration: var(--open-animation-duration, 0.4s);
  position: fixed;
  top: calc(100dvh - var(--_openMenuHover-height));
  width: 100%;
  height: var(--_openMenuHover-height);
  display: flex;
  justify-content: center;

  transition: background var(--_open-animation-duration) ease-in-out;
  background: rgba(0, 0, 0, 0);

  &.OPEN,
  &.OPENING {
    background: var(--clr-black-transparent);
  }
  &.OPEN,
  &.OPENING,
  &.CLOSING {
    height: 100dvh;
    top: 0;
  }

  @include for-desktop-up {
    position: relative;
    display: block;
    min-width: 280px;
    max-width: 324px;
    position: sticky;
    margin-top: 3rem;
    top: 1rem;
    align-self: flex-start;
    flex: 1 1 auto;
    height: auto;
  }
}

.box {
  --rough-box-border-image: url("/assets/border-images/rough-box-dark.svg");
  max-width: min(512px, calc(100% - 4rem));
  width: 100%;

  background: var(--clr-dark);

  display: none;
  height: 100%;

  @include for-desktop-up {
    height: fit-content;
    max-width: 100%;
    width: fit-content;
    display: block;
    background: var(--_content-clr-bg);
  }

  .OPENING & {
    animation: var(--_open-animation-duration) ease-in-out openMenuUp;
    animation-fill-mode: both;
  }
  .CLOSING & {
    animation: var(--_open-animation-duration) ease-in-out reverse openMenuUp;
    animation-fill-mode: both;
  }
  .OPENING &,
  .CLOSING &,
  .OPEN & {
    display: block;
    position: fixed;
    top: 1rem;
    background: var(--_content-clr-bg);
  }
}

@keyframes openMenuUp {
  0% {
    top: 100dvh;
  }
  80% {
    top: -1rem;
  }
  100% {
    top: 1rem;
  }
}

.openMenu {
  @extend .menuButton;
  position: absolute;
  // background: var(--clr-black);
  bottom: 0;

  transform: translateY(3rem);

  .menu:hover & {
    transform: translateY(2rem);
    transition: transform 0.2s ease-out;
  }

  .menu:hover &:hover {
    transform: translateY(0.6rem);
  }

  .menu.OPEN &,
  .menu.OPENING & {
    transform: translateY(8rem) !important;
  }
}

.closeMenuWrapper {
  display: flex;
  justify-content: center;
}

.menuButton {
  --_menuButton-bg-image: var(
    --menuButton-bg-image,
    url("/assets/images/arrow-up-open.webp")
  );
  --_menuButton-height: var(--menuButton-height, 8rem);
  --_menuButton-width: var(--menuButton-width, 6rem);

  position: absolute;

  background: var(--_menuButton-bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  height: var(--_menuButton-height);
  width: var(--_menuButton-width);

  transition: transform 0.4s ease-in-out;

  &:focus-visible {
    outline: none;
    transform: translateY(0.4rem);
    filter: drop-shadow(0px 0px 2px var(--_content-clr));
  }

  @include for-desktop-up {
    display: none;
  }
}

.closeMenu {
  @extend .menuButton;
  --menuButton-height: 6rem;
  --menuButton-width: 5rem;
  --menuButton-bg-image: url("/assets/images/arrow-down-close.webp");
  top: -1rem;
  right: calc(var(--_menuButton-width) / -2);
}
