@use "@/styles/defaults/interactable.scss";

.content {
  h1,
  h2 {
    font-family: var(--font-special);
    font-weight: normal;
  }
  h3,
  h4,
  h5 {
    font-weight: normal;
  }
  h1 {
    font-size: 3.5rem;
    margin: 1rem 0;
    width: 100%;
    text-align: center;
  }
  h2 {
    font-size: 3rem;
    margin: 1rem 0;
  }
  h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
  }

  h4 {
    font-size: 1.2rem;
    margin: 1rem 0;
  }

  h5 {
    font-size: 1.1rem;
    margin: 0.5rem 0;
  }

  p {
    margin-block: 0.5rem;
  }

  a {
    display: inline-block;
    @extend .interactable;
  }

  a:after {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    top: 0;
    left: 0;
    border-image: url("/assets/border-images/bottom-border-white.svg");
    border-image-slice: 10;
    border-image-width: 0 0 10px 0;
    border-image-outset: 0 0 5px 0;
    border-image-repeat: repeat;
  }
}
