.wrapper {
  --_content-clr-bg: var(--content-clr-bg, var(--clr-dark));
  --_content-clr: var(--content-clr, var(--clr-white));
  min-height: 100dvh;
  background: var(--clr-black);

  --specialBox-clr-bg: var(--_content-clr-bg);

  color: var(--_content-clr);
  font-family: var(--font-text);

  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-inline: 2rem;
}

.content {
  --rough-box-border-image: url("/assets/border-images/rough-box-dark.svg");
  max-width: 1160px;
  background-color: var(--_content-clr-bg);
  padding: 0.5rem 2rem 1rem 2rem;
}
