.navBar {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: .2rem;

  padding: 1rem .9rem;

}

.title {
  font-family: var(--font-special);
  font-size: 2.7rem;
  text-align: center;
  margin-bottom: .4rem;
}

.chapter {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: .3rem;
}
.backLink {
  display: block;
  position: relative;

  min-height: 32px;

  background: url("/assets/images/back-arrow.webp");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 3rem;

  transition: transform 0.2s ease-in-out, filter 0.1s ease-in-out;


  &:hover {
    transform: scale(1.05);
  }

  &:active,
  &.current {
    transform: translateX(-0.3rem);
  }

  &:focus-visible {
    outline: none;
    filter: drop-shadow(0px 0px 2px var(--_content-clr));
  }
  
}

.navLink {
  display: flex;
  gap: .1rem;
  font-size: 1.3rem;

  &:focus-visible {
    outline: none;
  }
}

.navLinkTitle {
  flex: 1 0 auto;
}

.interactable {
  --_interactable-border: var(
    --interactable-border,
    url("/assets/border-images/bottom-border-white.svg")
  );

  position: relative;

  font-family: var(--font-text);

  transition: transform 0.2s ease-in-out;
  transform-origin: bottom;

  .navLink:hover & {
    transform: scale(1.05);
  }

  .navLink:active &,
  .navLink.current &{
    transform: skewX(-8deg);
  }

  .navLink:focus-visible &{
    &:after {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      content: "";
      top: 0;
      left: 0;

      border-bottom: 1px solid var(--_interactable-clr);
      border-image: var(--_interactable-border);
      border-image-slice: 10;
      border-image-width: 0 0 10px 0;
      border-image-outset: 0 0 5px 0;
      border-image-repeat: repeat;
    }
  }
}

.navLinkDots {
  flex: 1 1 auto;
  min-width: 0;
  overflow: clip
}
.navLinkNumeral{
  --_navLinkNumeral-size:  var(--navLinkNumeral-size, 1rem)
  flex: 0 0 var(--_navLinkNumeral-size);
  width: var(--_navLinkNumeral-size);
}

.decoration {
  position: relative;
  align-self: center;
  max-width: 200px;
  margin-block: 1rem;

  img {
    width: 100%;
    height: 100%;
  }
}
