:root {
  --clr-black: #030500;
  --clr-black-transparent: rgba(3, 5, 0, 0.9);
  --clr-red: #ae1722;
  --clr-red-light: #ff2315;
  --clr-white: #fafbf9;
  --clr-dark: #1b1e1d;
  --clr-light: #b4b6ac;
}
